<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yutrotden.Properties.Settings.testConnectionString"
            connectionString="server=localhost;user id=root;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="yutrotden.Properties.Settings.testConnectionString2"
            connectionString="password=&quot;=Zt.2601/*,d&quot;;user id=root;server=localhost;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="yutrotden.Properties.Settings.testConnectionStringliste"
            connectionString="server=localhost;user id=root;password=&quot;=Zt.2601/*,d&quot;;database=test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>